{% extends 'layout/base.twig' %}

{% block content %}
 <main> 

   <div id="form">

      <h2>Connexion</h2>

      <div id="donne">

         <input placeholder="email"></input>
         <input placeholder="mots de passe"></input>

      </div>

      <div id="button">

         <button src="">Connexion</button>
         <button src="">inscription</button>

      </div>

   </div>

 </main>
{% endblock %}
