{% extends 'layout/base.twig' %}

{% block content %}
 <main> 

    <h2>nom d'utilisateur</h2>

    <div id="profil">
        <img id="userPhotos" src="../assets/img/user.png" />

        <div id="infoUser">

            <input class="input" placeholder="identifiant"></input>
            <input class="input" placeholder="nom utilisateur"></input>
            <input class="input" placeholder="prénom utilisateur"></input>
            <input class="input" placeholder="adresse email"></input>

        </div>
    </div>

</main>
{% endblock %}
